/* CSS PARA EL MENU*/
.menu{
    background-color: #F44336; 
}
.menu .dropdown-menu{
    background-color: #ff7961;
}
.menu .dropdown-menu{
    font-size: .7em;
}
.menu .dropdown-item:hover{
    color:black;
    background-color:#F44336;
}
li.menu_li a:hover{
    color:black;
    background-color:#F44336;
}
ul {
    list-style-type: none;
    margin: 0;
}
li {
    margin-right: 10px;
    float: left;
}
li.menu_li a {
    font-size: 1.5em;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/*PEQUEÑA BARRA QUE APARECE DEBAJO DE CADA LISTA DEL MENU, PARA INDICARNOS DONDE ESTAMOS*/
.subdiv{
    height: 3.5px;
    background-color:rgb(0, 0, 0)    ;
}

/* CSS BODY, DIV PRINCIPAL DE LA PAGINA Y LA TABLA*/
body{
    background-color: rgb(233, 233, 233);
}
.cuerpo{
    background-color: white;
}
.cuerpo>button{
    margin-top:3%;
    margin-left: 7%;
}
.table{
    width: 85%;
    margin: 3% 7%;
}

/* CSS PARA CENTRAR LOS DIVS DE LAS OPCIONES AL GENERAR LA DATATABLE*/
div.table-responsive div .row:first-child{
    margin:2% 6% 0%;
}
 div.table-responsive div .row:last-child{
    margin:2% 8% 0%;
}
/* DIV QUE CONTIENE EL LOGIN*/
.form-login{
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
}
.login_tittle{
    font-size: 2.3em;
    color:white;
    text-align: center;
}
.form-login label{
    font-size: 1.5em;
}
.form-login input[type="submit"]{
    font-size: 1.5em;
    width: 100%;
}

/* DIV QUE CONTIENE EL REGISTRO*/
.form-register{
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
}
.register_tittle{
    font-size: 2.3em;
    color:white;
    text-align: center;
}
.form-register label{
    font-size: 1.5em;
}
.form-register input[type="submit"]{
    font-size: 1.5em;
    width: 100%;
}
/* MODAL PARA EDITAR CLIENTE                  */
#modalEditCliente span{
font-weight: bold;
}
.info label{
    font-size: 1.4em;
    width: 45%;
    margin-left: 20px;
}
/* ALINEAMOS LOS BOTONES EN LA PAGINA DE NUEVO PEDIDO */
#verResumen{
    margin-left: 0%;
}
#borrarCarrito{
    margin-right: 1%;
}

/*CSS PARA LOS DIVS QUE CONTIENEN CADA PRODUCTO, EN LA PAGINA DE NUEVO PEDIDO*/
.item{
    background-color: white;
    text-align: center;
    width: 23%;
    margin-right: 1%;
    margin-top: 2%;
    padding-left: 0px;
}
/* DESCRIPCION DEL ITEM */
.item div#desc{
    margin-top: 7%;
    margin-left: 7%;
}
.item img{
    margin-top: 10%;
    margin-left: 8%;
}
.item span,#spanInfoFecha{
    font-size: 1.2em;
}
.item input{
    font-size: 1.2em;
    text-align: center;
}
.item div.footerItem{
    width: 30%;
    margin-top: 4%;
    margin-left: 40%;  
}
.item #addToCart{
    width: 100%;
}

/* CSS PARA EL MODAL QUE APARECE AL ENTRAR EN RESUMENPEDIDOS*/
#modalResumenPedidos{
    margin-left:20%;
}
#table_resumen_pedido{
    font-size: 1.4em;
}
div.estadistica{
margin-top: 2%;
margin-left: 5%;
}
div#busqueda_fecha,#generarEstadisticas{
    width: 10%;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #E0A458;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    margin-top: 2%;
    background: #E0A458 !important;
}
.footer-row{
    margin-left: 30%;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
}


@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
